.card-cadastros {
  max-width: unset;
}

.card-cadastros p, .cdstro > form > input {
  color: rgba(0 0 0 / .25);
  font-weight: var(--medium);
  font-size: 16px;
  margin-left: 1em;
  font-family: Inter;
}

.cdstro-header,
.cdstro-usuario {
  display: flex;
  flex-direction: row;
}

.cdstro-header {
  flex-grow: 1;
  justify-content: space-between;
  align-items: baseline;
}

.cdstro-usuario {
  align-items: baseline;
}

.cdstro-usuario-icon {
  height: 24px;
}

.cdstro > form {
  color: rgba(0 0 0 / .25);
  display: flex;
}

.cdstro > form > input {
  border: none;
  text-align: end;
  padding: 0 1em 0 10em;
}

.cdstro > form > input:focus-visible {
  outline: none;
}

.cdstro > form > input::placeholder {
  color: rgba(0 0 0 / .25);
}

table {
  margin: 0 -3em 0 -3em;
  width: calc(100% + 6em);
  border-collapse: collapse;
  table-layout: fixed;
}

thead {
  margin: 1em 0;
}

.tbl-first-col {
  padding-left: 3rem;
}

th, td {
  padding-left: 3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th {
  font-size: 20px;
  font-weight: var(--bold);
  text-align: left;

  padding: 1em 0 1em 0;
}

td {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: var(--medium);
  padding: .3em 0 .3em 0;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

#tbl-ultimo-tr {
  background-color: white;
}

.tbl-user-center {
  text-align: center;
}

.tbl-user-center > img {
  transform: translateY(2px);
}

.tbl-user-right {
  text-align: right;
  padding-right: 3rem;
}

tr:hover {
  background-color: rgba(100 227 255 / .25);
}