/* .App { */
/* display: unset; */
/* } */

main>div {
  /* background-color: pink; */
  /* max-width: 100%; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.card {
  --less-shadow: 0 0 4px 1px rgba(0 0 0 / .1);

  width: 50em;
  display: flex;
  flex-direction: column;
  padding: 1.5em 3em 3em 3em;
}

.card h2 {
  font-weight: var(--bold);
  font-size: 48px;
  margin-bottom: .5em;
}

.card label>p {
  font-size: 20px;
  font-weight: var(--bold);
}

.card-gerar {
  flex-grow: 0;
}

.card-form {
  display: flex;
  flex-direction: column;
}

.card-marca-e-colecao {
  display: flex;
  flex-direction: row;
  margin-bottom: .7em;
}

.card-marca-e-colecao>div {
  flex-grow: 1;
}

label {
  display: flex;
  flex-direction: column;
}

label>p {
  margin-bottom: .6em;
}

.card-select {
  margin-bottom: 1em;
  padding: .5em 4em .5em .5em;
  justify-content: left;
  border-radius: .3em;
  border: 1px solid rgba(0 0 0 / .15);
  color: rgba(0 0 0 / .15);
  font-weight: var(--medium);
  font-family: Inter;
  /* font-size: 10px; */
  background-color: #f6f6f6;
  box-shadow: var(--less-shadow);
  /* text-align-last: center; */
}

#lbl-colecao {
  margin-left: 1em;
}

.card-descricao {
  margin-bottom: 2em;
}

.card-descricao input {
  padding: .5em;
  background-color: #f6f6f6;
  border: 1px solid rgba(0 0 0 / .15);
  border-radius: .3em;
  box-shadow: var(--less-shadow);
  color: rgba(0 0 0 / .15);
}

.card-descricao input:focus,
.card-select:focus {
  color: #000;
}

.card-upload {
  margin-bottom: 1em;
}

.card-upload label {
  margin-bottom: .5em;
}

.card-upload input {
  /* background-color: red; */
  font-family: Inter;
  border: 2px solid rgba(255 255 255 / .2);
  /* margin-bottom: calc(2em + 2px);  */

  background: rgba(0, 0, 0, .025);
  padding: 1.5em 1em 1.5em 1em;
  display: block;
  border: 1px dashed grey;
  outline: none;

  border-radius: .5em;
}

.card-upload input::file-selector-button {
  font-family: Inter;
  background: #2E29FF;
  border: 0;
  border-radius: .5em;
  appearance: none;
  padding: .5rem;
  /* border-radius: var(--b-radius); */
  color: #fff;
  margin-right: 1em;
  outline: none;
  cursor: pointer;
}

.card-upload input::file-selector-button:hover {
  filter: var(--filter);
}

.card-upload input:hover {
  border: 1px dashed #2E29FF
}

.card-submit {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.card-submit-button,
.modal-main button {
  padding: 1.5em 2em;
  color: #fff;
  background-color: #2E29FF;
  border: none;
  border-radius: .5em;
  font-family: Inter;
  font-weight: var(--bold);
}

.card-submit p {
  color: rgba(0 0 0 / .25);
  margin-left: 1em;
}

.card-result {
  max-width: unset;
  flex-grow: 0;
  max-width: 40em;
}

.card-result-img {
  box-shadow: var(--less-shadow);
  border-radius: 1em;
  margin-bottom: 1em;
}

.card-result-info {
  display: flex;
  font-weight: var(--bold);
  justify-content: space-between;
}

#descricao {
  font-family: Inter;
}

.Modal {
  position: absolute;
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  border-radius: 1em;
  box-shadow: var(--shadow);
  padding: 1em;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255 255 255 / .75);
  z-index: 2;
}

.modal-main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.error {
  color: red;
  margin-top: .5em;
}

#modal-close {
  background-color: black;
  padding: 1em 2em;
  margin: 1em 0;
  width: 12ch;
  box-shadow: var(--shadow);
  transition: all .2s;
}

#modal-close:hover,
.modal-result-control > button:hover {
  background-color: red;
  transform: scale(1.05);
}

.modal-success {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.modal-result-img-wrapper {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
  /* width: 30ch; */
}

.modal-result-img {
  width: 100%;
  border-radius: 5px;
  box-shadow: var(--shadow);
}

.modal-result-control {
  display: flex;
  gap: 1em;
}

.modal-result-control > button {
  margin: 1em 0;
  flex-grow: 1;
  padding: 1em 0;
  box-shadow: var(--shadow);
  transition: all .2s;
}

.modal-result-control > button:nth-child(1) {
  background-color: rgb(34 215 34);
}

.modal-result-control > button:nth-child(2) {
  background-color: #eb3333;
}