/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

* {
  --black: 900;
  --bold: 700;
  --medium: 500;
  --regular: 400;
  --light: 300;
  --thin: 100;

  --shadow: 0 0 7px 2px rgba(0 0 0 / .2);

  margin: 0;
  padding: 0;
}

h1 {
  font-size: 30px;
}

.nav {
  padding: 2em 4em 2em 2em;
  box-shadow: var(--shadow);
  z-index: 2;
}

.title {
  margin-bottom: 1em;
}

.nav-link-section-title {
  font-size: 11px;
  font-weight: var(--bold);
  color: #888;
  position: relative;
}

.nav-link-section-title::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 100%;
  height: 1px;
  background-color: #888;
}

.nav-link-item {
  font-size: 20px;
  font-weight: var(--bold);

  border-radius: .3em;

  display: flex;
  min-width: 10em;
  margin: .7em -.6em;
  padding: .4em .4em;
  transition: all .3s;
}

.nav-link-item:hover {
  background-color: #ddd;
}

.nav-link-item p {
  margin-left: 1em;
}

.nav-link-item-icon {
  height: 24px;
}

.main {
  flex-grow: 1;
  background-image: linear-gradient(135deg, rgba(0,240,255,1) 0%, rgba(0,87,255,1) 100%);;
}

.header, .card {
  background-color: #fff;
  box-shadow: var(--shadow);
  padding: 1.5em;
  margin: 1.5em;
  border-radius: 1em;

  display: flex;
}

.header-acesso-rapido {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* .header-acesso-rapido p {
  transform: translateY(1px);
} */

.header-acesso-rapido-icon {
  margin-left: .5em;
  height: 18px;
  transform: translateY(2px);
}

.card {
  max-width: 50em;
}