.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

* {
  --black: 900;
  --bold: 700;
  --medium: 500;
  --regular: 400;
  --light: 300;
  --thin: 100;

  --shadow: 0 0 7px 2px rgba(0 0 0 / .2);

  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 30px;
}

/* 
.nav-link-item.active {
  position: relative;
  content: "asd";
  height: 1em;
  max-width: 1em;
  background-color: red;
} */

.main {
  flex-grow: 1;
  background-image: linear-gradient(135deg, rgba(0, 240, 255, 1) 0%, rgba(0, 87, 255, 1) 100%);
}

.header,
.card {
  background-color: #fff;
  box-shadow: var(--shadow);
  padding: 1.5em;
  margin: 1.5em;
  border-radius: 1em;

  display: flex;
}

.header {
  justify-content: space-between;
}

.header-acesso-rapido {
  display: flex;
  flex-direction: row;
  justify-content: center;

  font-weight: var(--bold);
}

.header-acesso-rapido>p {
  transition: all .3s;
}

.header-acesso-rapido>p:hover {
  transform: scale(1.05);
}

/* .header-acesso-rapido p {
  transform: translateY(1px);
} */

.header-acesso-rapido-icon {
  margin-left: .5em;
  height: 18px;
  transform: translateY(2px);
}

.header-acesso-rapido-links {
  color: #a4a4a4;
  display: flex;
}

.header-acesso-rapido-links>p {
  margin-left: 1em;
}

.header-usuario {
  font-weight: var(--bold);
  position: relative;
}

.header-usuario-links {
  position: absolute;
  top: 1.6em;
  right: 0;

  background-color: #fff;
  border-radius: .3em;
  border: 1px solid #d1d1d1;
  box-shadow: var(--shadow);
}

.header-usuario-links>p {
  padding: .3em;
  margin-right: 4.7em;
  font-weight: var(--regular);
}

.header-usuario-links a,
.header-acesso-rapido-links a {
  text-decoration: none;
  color: #6D6D6D;
}